.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  min-height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.App-footer {
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.add-button {
  align-self: flex-end;
}

.main-view-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.list-view {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

button,
input[type='button'] {
  background: none;
  border: none;
  margin: 5px;
}

.weight-input {
  width: 80px;
}

.rep-input {
  width: 40px;
}

.App-link {
  color: #61dafb;
}
